## rust ##
/target

## llm ##
/.agents
AGENTS.md

## resources ##
/resources/backup
/resources/references/references.json
/resources/*.bin

## scripts ##
/scripts/k6/results.json

## docs ##
/docs/*
!/docs/vars.md
