## rust ##
/target
/src/bin/diagnose.rs

## llm ##
/.agents
AGENTS.md

## resources ##
/resources/backup
/resources/references.json
/resources/*.bin

## tests ##
/test/results.json

## scripts ##
/scripts

## docs ##
/docs
