global
  maxconn 20000
  nbthread 1
  hard-stop-after 1s
  daemon

defaults
  mode http
  maxconn 20000
  timeout connect 50ms
  timeout client 2s
  timeout server 2s
  timeout http-request 2s
  timeout http-keep-alive 60s
  option http-keep-alive
  option dontlognull

frontend frontend
  bind *:80
  default_backend backend

backend backend
  balance roundrobin
  http-reuse always
  server service-1 unix@/sockets/service-1.sock maxconn 10000
  server service-2 unix@/sockets/service-2.sock maxconn 10000
